/* fixes to make the calendar look as intended */ 

/* fixes for the Seven theme */
.pika-table th, 
.pika-table td {
    text-transform: initial;
    background: initial;
    border: none;
}
.pika-table tr td:last-child {
    border: initial;
}

